#logo{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-areas: ". content .";
    // height: 30vh;

    
    #ThunderbirdLogo{
        grid-area: content;
        // width: 100%;
    }
    
}